.swc-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.swc-toolbar-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}
.swc-toolbar-item:hover {
  background-color: var(--sl-color-neutral-200);
}
.swc-toolbar-active {
  background-color: var(--sl-color-neutral-200);
}
.swc-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.swc-disabled:hover {
  background-color: transparent;
}
