@import url('./var.css');
@import url('./light.css');

.ProseMirror p {
  line-height: 26px;
}

.ProseMirror h1 {
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 32px;
}

.ProseMirror h2 {
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.ProseMirror h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

.ProseMirror ul,
.ProseMirror ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.ProseMirror ul[data-type='taskList'] {
  padding-inline-start: 0;
}

.ProseMirror ul[data-type='taskList'] li {
  display: flex;
  align-items: baseline;
}
.ProseMirror li > label {
  padding-right: 4px;
}
.ProseMirror li > div {
  flex: 1;
}
